<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Inscritos</title>
</head>
<body>

<h1>Inscritos del cuadro {{ cuadro_id }}</h1>

<form action="/admin/cuadros/{{ cuadro_id }}/importar-excel-archivo" method="post" enctype="multipart/form-data">
    <label>Seleccionar Excel:</label>
    <input type="file" name="file" accept=".xlsx" required>

    <button type="submit"
            onclick="return confirm('¿Quieres importar este Excel? Se borrarán los inscritos anteriores de este cuadro.')">
        Importar Excel
    </button>
</form>

<br>
<hr>

<form method="post" action="/admin/cuadros/{{ cuadro_id }}/guardar-posiciones">

<table border="1">
    <tr>
        <th>Posición</th>
        <th>Licencia</th>
        <th>Nombre Excel</th>
        <th>Jugador oficial</th>
        <th>Estado</th>
        <th>Acción</th>
    </tr>

    {% for i in inscritos %}
    <tr>
        <td>
            <select name="posicion_{{ i[0] }}">
                <option value="">--</option>

                {% for p in posiciones %}
                    {% if p == i[8] or p not in posiciones_ocupadas %}
                    <option value="{{ p }}" {% if i[8] == p %}selected{% endif %}>
                        {{ p }}
                    </option>
                    {% endif %}
                {% endfor %}
            </select>
        </td>

        <td>{{ i[1] }}</td>
        <td>{{ i[2] }}</td>

        <td>
            {% if i[3] %}
                {{ i[4] }} {{ i[5] }} {{ i[6] }}
            {% else %}
                No encontrado
            {% endif %}
        </td>

        <td>{{ i[7] }}</td>

        <td>
            {% if i[3] %}
                <a href="/admin/jugadores/editar/{{ i[3] }}">Editar jugador</a>
            {% else %}
                Crear jugador
            {% endif %}
        </td>
    </tr>
    {% endfor %}
</table>

<br>
<button type="submit">Guardar posiciones</button>


</form>
<hr>

<h2>Vista del cuadro por posiciones</h2>

<table border="1">
    <tr>
        <th>Posición</th>
        <th>Jugador</th>
        <th>Licencia</th>
        <th>Estado</th>
    </tr>

    {% for item in cuadro_ordenado %}
    <tr>
        <td>{{ item.posicion }}</td>

        {% if item.tipo == "jugador" %}
            <td>
                {% if item.inscrito[3] %}
                    {{ item.inscrito[4] }} {{ item.inscrito[5] }} {{ item.inscrito[6] }}
                {% else %}
                    {{ item.inscrito[2] }}
                {% endif %}
            </td>
            <td>{{ item.inscrito[1] }}</td>
            <td>{{ item.inscrito[7] }}</td>
        {% else %}
            <td><strong>BYE / vacío</strong></td>
            <td>-</td>
            <td>sin jugador</td>
        {% endif %}
    </tr>
    {% endfor %}
</table>

<br>
<a href="/admin/cuadros">Volver a cuadros</a>

</body>
</html>